<div class="jumbotron">

<div class="row">
  <h3>វចនានុក្រមខ្មែរ</h3>
  <form class="form-search">    
    <div class="input-prepend">
      <button type="submit" class="btn btn-primary">Search</button>
      <input type="text" class="span3 search-query" ng-change="search(query)" ng-model="query"​​​ id="search-word">
    </div>
  </form>  
  <p class="pull-right">word count: {{count}}</p>  
</div>
<hr>
<div class="row​">
  	<div class="text-left" ng-repeat="word in words | filter:query">
      <dl>
  		  <dt><font color="red"><b>{{word.title}}</b></font></dt>
  		  <dd ng-bind-html-unsafe="word.definition"></dd>
      <dl>
	</div>
</div>

</div>
