<div class="jumbotron">

<div class="row">
  <div class="pull-right">

    <a ng-click="changeLanguage('km')" href="#">{{ 'KHMER' | translate }}</a> |
    <a ng-click="changeLanguage('en')" href="#">{{ 'ENGLISH' | translate }}</a>

  </div>
</div>
<div class="row">
  <h3>{{ 'TITLE' | translate }}</h3>
  <form class="form-search">    
    <div class="input-prepend">
      <button type="submit" class="btn btn-primary">{{ 'SEARCH' | translate }}</button>
      <input type="text" class="span3 search-query" ng-change="search(query)" ng-model="query"​​​ id="search-word">
    </div>
  </form>  
  <p class="pull-right">{{ 'COUNT' | translate }}: {{count}}</p>  
</div>
<hr>
<div class="row​">
  	<div class="text-left" ng-repeat="word in words | filter:query">
      <dl>
  		  <dt><font color="red"><b>{{word.title}}</b></font></dt>
  		  <dd ng-bind-html-unsafe="word.definition"></dd>
      <dl>
	</div>
</div>

</div>
